@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: sohne-var, "Helvetica Neue", Arial, sans-serif; */
  color: #333;
  /* scroll-behavior: smooth; */
}

input, textarea, select { font-family: 'Poppins', sans-serif; }

body{
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-family: 'Poppins', sans-serif;
  width: 320px;
  max-width: 100% !important;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

h1{
  font-size: 1.15rem;
  font-weight: 500;
  color: white;
  margin-bottom: 5px;
}

h1 > span{
  font-size: 0.6rem;
  font-weight: 500;
  color: #b4c682;
  padding: 2.5px 7.5px;
  background-color: #333333;
  border-radius: 100px;
  /* color: #1e1e1e; */
}

.headUpdate{
  font-size: 0.6rem;
  font-weight: 200;
  color: #b4c682;
  margin: 5px 0;
}

.headUpdate > b {
  font-weight: 700;
  color: #b4c682;
}

a{
  color: cornflowerblue;
  text-decoration: none;
  font-weight: 300;
}

input{
  border: 1px solid black;
  outline: none;
}

.addFriend{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
}

.addFriend > input{
  flex: 1;
  padding: 7.5px 15px;
  border-radius: 100px;
  margin: 0 5px 0 0;
  border: 1px solid #000;
  background-color: #333333;
  font-size: 0.75rem;
  color: white;
}

.addFriend > .addBtn{
  background-color: #333;
  border-radius: 100px;
  color: whitesmoke;
  height: 25px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  /* border: 1px solid #000; */
  font-size: 15px;
  cursor: pointer;
}

.testResults > .weeklySunday {
  font-size: 0.6rem;
}

.testResults > .biweeklySaturdayEven {
  font-size: 0.6rem;
}

.leaderboard{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.leaderboard > .oneUser {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
}

.leaderboard > .oneUser > .topRow {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.leaderboard > .oneUser > .topRow > .friendsRank{
  background-color: #333;
  border-radius: 100px;
  color: whitesmoke;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  height: 25px;
  /* border: 1px solid #000; */
  font-size: 0.65rem;
}

.leaderboard > .oneUser > .topRow > .userInfo{
  border-radius: 100px;
  padding: 5px 10px;
  /* border: 1px solid #e5e5e5; */
  border: 1px solid #000;
  background-color: rgb(255, 255, 255);
  margin-left: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.leaderboard > .oneUser > .topRow > .userInfo > a{
  font-weight: 500;
}

.leaderboard > .oneUser > .topRow > .userInfo > b{
  font-weight: 500;
}

.leaderboard > .oneUser > .topRow > .deleteUser {
  cursor: pointer;
}

.leaderboard > .oneUser > .topRow > .deleteUser > svg{
  height: 8px;
  width: 22px;
  margin: 0;
  padding: 0;
}

.current-status{
  padding: 10px 5px;
  color: rgb(178, 178, 178);
  font-size: 0.7rem;
}

.leaderboard > .oneUser > .bottomRow {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-left: 35px;
}

.leaderboard > .oneUser > .bottomRow {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-left: 30px;
}

.leaderboard > .oneUser > .bottomRow > img {
  height: 15px;
  margin-right: 10px;
}


.leaderboard > .oneUser > .bottomRow > .circle {
  height: 22.5px;
  width: 80px;
  padding: 2.5px;
  background-color: #33333352;
  border: 1px solid #000;
  border-radius: 100px;
  margin-right: 5px;
  font-size: 0.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard > .oneUser > .bottomRow > .solved {
  background-color: #ffa115;
  color: #333;
  font-weight: 500;
}

.bottomFooter{
  background-color: #242323;
  border-top: 1px solid black;
  /* height: 50px; */
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;

  padding: 10px 20px;
  
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */

  text-align: center;
}

.bottomFooter > p {
  color: white;
  font-size: 0.6rem;
  font-weight: 200;
  /* text-align: center; */
}

.bottomFooter > a {
  color: cornflowerblue;
  font-size: 0.65rem;
  font-weight: 500;
  /* text-align: center; */
}

.githubLink{
  position: fixed;
  top: 20px;
  right: 10px;
  /* background-color: white; */
  /* height: 27px; */
  /* aspect-ratio: 1/1; */
  /* border-radius: 50%; */

  display: grid;
  place-items: center;
}

.githubLink > img {
  height: 30px;
  border-radius: 100px;
}

.testResults{
  padding: 10px 2.5px 0 0;

  p{
    color: rgba(194, 232, 105, 0.689);
    font-size: 0.75rem;
    /* margin-bottom: 5px; */
  }
}


::-webkit-scrollbar {
  width: 2px;
}
 
::-webkit-scrollbar-track {
  background-color: #f0e9e9;
  border-left: 0.1px solid #e9e5e5;
}
 
::-webkit-scrollbar-thumb {
  background-color: #335ddc;
  border-radius: 100px;
}


